# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
/Packages
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Credentials
.netrc

# IDE
.idea/
*.swp
*~
